* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head_background {
    background-color: rgb(255, 187, 0);
    width: 100%;
    height: 100px;
 
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
}

.head_name {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.head_logo img {
    width: 50px;
    height: 50px;
}

.main_background {
    background-color: rgba(128, 128, 128, 0.298);
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

.field { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.field input {
    width: 100%;
    height: 30px;
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.field input:hover {
    border: 1px solid rgb(255, 187, 0);
}

.field input:focus {
    border: 1px solid rgb(255, 187, 0);
    outline: none;
}

.submit_button {
    grid-column: span 2;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    color: black;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(221, 167, 18);
}

