* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head_background {
    background-color: rgb(255, 187, 0);
    width: 100%;
    height: 100px;
 
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
}

.head_name {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.head_logo img {
    width: 50px;
    height: 50px;
}

.main_background {
    background-color: rgba(128, 128, 128, 0.298);
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

.name_text_field input{
    width: auto;
    height: 25px;
    border: 1px;
    border-radius: 15px;
    padding: 10px;
}